.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        scroll-behavior:smooth;
        scroll-snap-type: y mandatory; //faire que l'on défile de section en section 
        > * {
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start; //s'accrocher à chaque fin desection
        }
    }
}
.sections::-webkit-scrollbar {
    display: none; //faire dispara�tre la scrollbar
}